<div class="col-md-12">
		<form data-url="{% url 'accounts:user_create' %}" method="post" class="create-form">
      {% csrf_token %}
			<div class="card">
				<div class="card-header card-header-rose card-header-icon">
					<div class="card-icon">
						<i class="material-icons">person_add</i>
					</div>
					<h4 class="card-title"><strong>Register Form</strong></h4>
				</div>
				<br>
				<div class="card-body">
					<div class="form-group bmd-form-group">
						<label class="bmd-label-floating" for="exampleEmail">Username *</label>
						{{form.username}}
					</div>
					<div class="form-group bmd-form-group">
						<label class="bmd-label-floating" for="examplePassword">Email Address *</label>
						{{form.email}}
					</div>
					<div class="form-group bmd-form-group">
						<label class="bmd-label-floating" for="examplePassword1">Password *</label>
						{{form.password1}}
					</div>
					<div class="form-group bmd-form-group">
						<label class="bmd-label-floating" for="examplePassword1">Confirm Password *</label>
						{{form.password2}}
					</div>
					<label for="exampleSelect1">Role</label>
					<div class="form-group bmd-form-group">

			      <select class="form-control" name="role">
			        <option value="admin">admin</option>
			        <option value="DataAnalyst" >DataAnalyst</option>
			        <option value="waiter">waiter</option>
			      </select>
					</div>
					<br><br>
					<div class="category form-category">
						* Required fields
					</div>
					<br>
					<div class="alert alert-danger" id="alert-errors" style="display : none" >
						 <button aria-label="Close" class="close" data-dismiss="alert" type="button"><i class="material-icons">close</i></button>
						 <div class="show-errors">
						 </div>
					</div>
				</div>
				<div class="modal-footer text-right">
					<button class="btn" style="background: linear-gradient(60deg, #26c6da, #00acc1);color : #FFF" data-dismiss="modal" type="button"><strong>close</strong></button>&nbsp;
					<button class="btn btn-rose" type="submit"><strong>Add User</strong></button>
				</div>
			</div>
		</form>
	</div>
	<script>
		//Query All input fields
		var form_fields = document.getElementsByTagName('input');
		for (var field in form_fields){
			form_fields[field].className += ' form-control';
		}
	</script>
