{% extends 'accounts_elements/base.html' %}
{% load static %}
{% block body %}
	<div class="page-header error-page header-filter" style="background-image: url('{% static 'assets/img/login.jpg' %}'); background-size: cover; background-position: top center;">
		<div class="content-center">
			<div class="row">
				<div class="col-md-12">
					<h1 class="title">403</h1>
					<h2>Wait for Aze to accept you</h2>
					<h4>Ooooups! Looks like you got lost.</h4>
				</div>
			</div>
		</div>
	{% include "footer.html" %}
	</div>
{% endblock %}
