{% extends 'accounts_elements/base.html' %}
{% load static %}
{% block body %}
<div class="page-header login-page header-filter" style="background-image: url('{% static 'assets/img/lock.jpg' %}'); background-size: cover; background-position: top center;">
		<div class="container">
			<div class="row">
				<div class="col-md-6 ml-auto mr-auto">
					<div class="card card-profile text-center card-hidden">
						<div class="card-header">
							<div class="card-avatar">
								<a href="#pablo"><img class="img" src="{% static 'assets/img/user_icon.png' %}"></a>
							</div>
						</div>
						<div class="card-body">
							<h4 class="card-title"><strong>Reset Password Complete</strong></h4>
              <br>
							<div class="form-group">
								<p><i class="material-icons text-success">check_circle</i> Your password has been set. You may go ahead and log in now.</p>
							</div>
						</div>
            <div class="card-footer justify-content-center">
              <a href="{% url 'accounts:login' %}" class="btn btn-rose btn-round" >Login</a>
            </div>
					</div>
				</div>
			</div>
		</div>
	{% include "footer.html" %}
</div>
{% endblock %}
