<footer class="footer">
  <div class="container" style="width : 100%">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://www.creative-tim.com/">Creative Tim</a>
        </li>
        <li>
          <a href="https://www.creative-tim.com/presentation">About Us</a>
        </li>
        <li>
          <a href="https://www.creative-tim.com/blog">Blog</a>
        </li>
        <li>
          <a href="https://www.creative-tim.com/license">Licenses</a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right" style="margin-right: 0%">
      &copy;
      <script>
              document.write(new Date().getFullYear())
      </script> Edatis Analytics, made with <i class="material-icons">favorite</i> by <a href="https://www.facebook.com/profile.php?id=100006112271435" target="_blank"><u>GM</u></a> & <a href="https://www.facebook.com/hannachi.dhia" target="_blank"><u>HD</u></a> for a better web.
    </div>
  </div>
</footer>
