{% extends 'dashbord_elements/base.html' %}
{% load static %}
{% block body %}
<div class="row">
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-warning card-header-icon">
					<div class="card-icon">
						<i class="material-icons">weekend</i>
					</div>
					<p class="card-category">Number Of Mail Sent</p>
					<h3 class="card-title">{{sent}}</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">local_offer</i> Mail Sent
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-rose card-header-icon">
					<div class="card-icon">
						<i class="material-icons">equalizer</i>
					</div>
					<p class="card-category">Number Of Mail Recieved</p>
					<h3 class="card-title">{{recieved}}</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">local_offer</i> Mail Recieved
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-success card-header-icon">
					<div class="card-icon">
						<i class="material-icons">store</i>
					</div>
					<p class="card-category">Num of Open</p>
					<h3 class="card-title">{{opens}}</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">date_range</i> Open Number
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-info card-header-icon">
					<div class="card-icon">
						<i class="fa fa-twitter"></i>
					</div>
					<p class="card-category">Number Of Click</p>
					<h3 class="card-title">{{clics}}</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">update</i> Click Number
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-header card-header-icon card-header-rose">
					<div class="card-icon">
						<i class="material-icons">pie_chart</i>
					</div>
					<h4 class="card-title">Global Analyse of bd <small>- Bar Chart</small></h4>
				</div>
				<div class="card-body" id="mobile_container">
					<canvas height="450" id="chart_open_click_bounce" width="800"></canvas>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">update</i> Click Number
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-header card-header-icon card-header-rose">
					<div class="card-icon">
						<i class="material-icons">pie_chart</i>
					</div>
					<h4 class="card-title">Multiple Bars Chart <small>- Bar Chart</small></h4>
				</div>
				<div class="card-body" id="mobile_container">
					<canvas height="450" id="chart_sent_recieved_inqueue" width="800"></canvas>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">update</i> Click Number
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-header-primary card-header-icon">
					<div class="card-icon">
						<i class="material-icons">assignment</i>
					</div>
					<h4 class="card-title">Analyse Contact  Per Companes</h4>
				</div>
				<div class="card-body">
					<div class="toolbar">
						<!--        Here you can write extra buttons/actions for the toolbar              -->
					</div>
					<div class="material-datatables">
						<table cellspacing="0" class="table table-striped table-no-bordered table-hover" id="datatables_contact" style="width:100%" width="100%">
							<thead>
								<tr>
									<th>mail sending id</th>
									<th>email</th>
									<th>clic</th>
									<th>open</th>
									<th>bounce</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
                  <th>mail sending id</th>
									<th>email</th>
									<th>clic</th>
									<th>open</th>
									<th>bounce</th>
								</tr>
							</tfoot>
							<tbody>
                {% for contact in contactList %}
								<tr>
                    <td>{{mail_sending_id}}</td>
                    <td>{{contact.email}}</td>
                    <td>{% if contact.clic  > 0  %} <span class='badge badge-success'>&nbsp;yes &nbsp;</span> {% else %}<span class='badge badge-danger'>&nbsp;No &nbsp;</span> {% endif %}  </td>
                    <td>{% if contact.open  > 0  %} <span class='badge badge-success'>&nbsp;yes &nbsp;</span> {% else %}<span class='badge badge-danger'>&nbsp;No &nbsp;</span> {% endif %}  </td>
                    <td>{% if contact.bounce  > 0  %} <span class='badge badge-success'>&nbsp;yes &nbsp;</span> {% else %}<span class='badge badge-danger'>&nbsp;No &nbsp;</span> {% endif %}  </td>
                </tr>
                {% endfor %}
							</tbody>
						</table>
					</div>
				</div><!-- end content-->
			</div><!--  end card  -->
		</div>
	</div>

{% endblock %}
{% block div %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="{% static 'assets/js/charts.js' %}" type="text/javascript"></script>
<script>
  $('#datatables_contact').DataTable();
  chart_open_clic = loadChart([{{recieved}}, {{opens}}, {{clics}}, {{numBounce}}], ["#52BE80", "#154360", "#3498DB", "#E10B0B"], ["recieved", "Open ", "Clic", "bounce"], "chart_open_click_bounce", "Open / Clic Per compagne", 'bar', false);
  chart_send_Recieved_inqueue = loadChartMultiple([{{sent}}, 0, 0],[0, {{recieved}}, {{inqueue}}], ["#2471A3 ", "#17A589", "#E10B0B"], ["sent ", "Recieved", 'Inqueue'], "chart_sent_recieved_inqueue", "Number Mail sending and Recieved Per compagne", 'doughnut', true);
</script>
{% endblock %}
