{% extends 'dashbord_elements/base.html' %}
{% load static %}
{% block body %}
<div class="row">
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-warning card-header-icon">
					<div class="card-icon">
						<i class="material-icons">weekend</i>
					</div>
					<p class="card-category">Bookings</p>
					<h3 class="card-title">184</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-rose card-header-icon">
					<div class="card-icon">
						<i class="material-icons">equalizer</i>
					</div>
					<p class="card-category">Website Visits</p>
					<h3 class="card-title">75.521</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">local_offer</i> Tracked from Google Analytics
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-success card-header-icon">
					<div class="card-icon">
						<i class="material-icons">store</i>
					</div>
					<p class="card-category">Revenue</p>
					<h3 class="card-title">$34,245</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">date_range</i> Last 24 Hours
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-info card-header-icon">
					<div class="card-icon">
						<i class="fa fa-server"></i>
					</div>
					<p class="card-category">Followers</p>
					<h3 class="card-title">+245</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">update</i> Just Updated
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-6 col-sm-6">
			<div class="card text-white bg-white mb-3" style="max-width: 18rem;">
				<div class="card-header bg-dark">
					<center>
						<h4><strong>Number Of Open</strong></h4>
					</center>
				</div>
				<div class="card-body">
					<center>
						<h3 class="card-title text-dark">{{Analyse_obj.SumAllDevices}}</h3>
					</center>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-6 col-sm-6">
			<div class="card text-white bg-white mb-3" style="max-width: 18rem;">
				<div class="card-header bg-info">
					<center>
						<h4><strong>Number Of Clic</strong></h4>
					</center>
				</div>
				<div class="card-body">
					<center>
						<h3 class="card-title text-info">{{SumAllDevicesClic}}</h3>
					</center>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-6 col-sm-6">
			<div class="card text-white bg-white mb-3" style="max-width: 18rem;">
				<div class="card-header bg-secondary">
					<center>
						<h4><strong>Open rate</strong></h4>
					</center>
				</div>
				<div class="card-body">
					<center>
						<h3 class="card-title text-secondary">6,330</h3>
					</center>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-6 col-sm-6">
			<div class="card text-white bg-white mb-3" style="max-width: 18rem;">
				<div class="card-header bg-success">
					<center>
						<h4><strong>Clicks rate</strong></h4>
					</center>
				</div>
				<div class="card-body">
					<center>
						<h3 class="card-title text-success">6,330</h3>
					</center>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-6 col-sm-6">
			<div class="card text-white bg-white mb-3" style="max-width: 18rem;">
				<div class="card-header bg-warning">
					<center>
						<h4><strong>Soft Bounce</strong></h4>
					</center>
				</div>
				<div class="card-body">
					<center>
						<h3 class="card-title text-warning">6,330</h3>
					</center>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-6 col-sm-6">
			<div class="card text-white bg-white mb-3" style="max-width: 18rem;">
				<div class="card-header bg-danger">
					<center>
						<h4><strong>Hard Bounce</strong></h4>
					</center>
				</div>
				<div class="card-body">
					<center>
						<h3 class="card-title text-danger">6,330</h3>
					</center>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<div class="card-header card-header-icon card-header-rose">
					<div class="card-icon">
						<i class="material-icons">pie_chart</i>
					</div>
					<h4 class="card-title">Multiple Bars Chart <small>- Bar Chart</small><img src="{% static 'assets/img/load.gif' %}" style="float: right; margin-top: -3%"> </h4>
				</div>
				<div class="card-body">
					<canvas height="450" id="doughnut-chart" width="800"></canvas>
				</div>
				<div id="testets" class="card-footer">
            <div  class="form-group" style="width: 37%">
              <select id="type-Desktop" class="custom-select">
                <option value="open" selected>open</option>
                <option value="clic">clic</option>
              </select>
            </div>
						&nbsp;
						<div  class="form-group" style="width: 37%">
              <select id="mode-Desktop" class="custom-select">
                <option value="Normale" selected>Normale</option>
                <option value="Predictive">Predictive</option>
              </select>
            </div>
						&nbsp;
						<form data-url="{% url 'edatis_dashbord:updateGraph' {{mail_sending_id}},type,mode %}" method="post" id="changeChart">
								<button id="btn-Desktop" type="submit" class="btn btn-rose">load</button>
						</form>
      </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-header card-header-icon card-header-rose">
					<div class="card-icon">
						<i class="material-icons">pie_chart</i>
					</div>
					<h4 class="card-title">Multiple Bars Chart <small>- Bar Chart</small><img src="{% static 'assets/img/load.gif' %}" style="float: right; margin-top: -3%"></h4>
				</div>
				<div class="card-body">
					<canvas height="450" id="doughnut-chart-clic" width="800"></canvas>
				</div>
				<div class="card-footer">
            <div class="form-group" style="width: 37%">
              <select class="custom-select">
                <option value="1" selected>open</option>
                <option value="2">clic</option>
              </select>
            </div>
						&nbsp;
						<div class="form-group" style="width: 37%">
              <select class="custom-select">
                <option value="1" selected>Normale</option>
                <option value="2">Predictive</option>
              </select>
            </div>
						&nbsp;
            <button id="btn-tablet" type="button" class="btn btn-rose">load</button>
      </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-header card-header-icon card-header-rose">
					<div class="card-icon">
						<i class="material-icons">pie_chart</i>
					</div>
					<h4 class="card-title">Multiple Bars Chart <small>- Bar Chart</small><img src="{% static 'assets/img/load.gif' %}" style="float: right; margin-top: -3%"></h4>
				</div>
				<div class="card-body">
					<canvas height="450" id="doughnut-chart-open" width="800"></canvas>
				</div>
				<div class="card-footer">
            <div class="form-group" style="width: 37%">
              <select class="custom-select">
                <option value="1" selected>open</option>
                <option value="2">clic</option>
              </select>
            </div>
						&nbsp;
						<div class="form-group" style="width: 37%">
              <select class="custom-select">
                <option value="1" selected>Normale</option>
                <option value="2">Predictive</option>
              </select>
            </div>
						&nbsp;
            <button id="btn-mobile" type="button" class="btn btn-rose">load</button>
      </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header card-header-icon card-header-info">
					<div class="card-icon">
						<i class="material-icons">timeline</i>
					</div>
					<h4 class="card-title">Coloured Line Chart <small>- Rounded</small></h4>
				</div>
				<div class="card-body">
					<canvas id="line-chart"></canvas>
				</div>
				<div class="card-footer">
            <div class="form-group" style="width: 37%">
              <select class="custom-select">
                <option value="1" selected>open</option>
                <option value="2">clic</option>
              </select>
            </div>
						&nbsp;
						<div class="form-group" style="width: 37%">
              <select class="custom-select">
                <option value="1" selected>Normale</option>
                <option value="2">Predictive</option>
              </select>
            </div>
						&nbsp;
            <button type="button" class="btn btn-rose">load</button>
        </div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-header card-header-icon card-header-info">
					<div class="card-icon">
						<i class="material-icons">pie_chart</i>
					</div>
					<h4 class="card-title">Coloured Line Chart <small>- Rounded</small><img src="{% static 'assets/img/load.gif' %}" style="float: right; margin-top: -3%"></h4>
				</div>
				<div class="card-body">
					<canvas id="doughnut-chart-stat"></canvas>
				</div>
				<div class="card-footer">
            <div class="form-group" style="width: 37%">
              <select class="custom-select">
                <option value="1" selected>open</option>
                <option value="2">clic</option>
              </select>
							&nbsp;
							<div class="form-group" style="width: 37%">
                <select class="custom-select">
                  <option value="1" selected>Normale</option>
                  <option value="2">Predictive</option>
                </select>
              </div>
            </div>
						&nbsp;
            <button type="button" class="btn btn-rose">load</button>
        </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-header-primary card-header-icon">
					<div class="card-icon">
						<i class="material-icons">assignment</i>
					</div>
					<h4 class="card-title">Messages from 01-27-2016 to 02-25-2016</h4>
				</div>
				<div class="card-body">
					<div class="toolbar">
						<!--        Here you can write extra buttons/actions for the toolbar              -->
					</div>
					<div class="material-datatables">
						<table cellspacing="0" class="table table-striped table-no-bordered table-hover" id="datatables" style="width:100%" width="100%">
							<thead>
								<tr>
									<th>Status</th>
									<th>Date</th>
									<th>Subjest</th>
									<th>From</th>
									<th>To</th>
									<th>Tags</th>
									<th class="disabled-sorting text-right">Actions</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Status</th>
									<th>Date</th>
									<th>Subjest</th>
									<th>From</th>
									<th>To</th>
									<th>Tags</th>
									<th class="disabled-sorting text-right">Actions</th>
								</tr>
							</tfoot>
							<tbody>
								<tr>
									<td><button class="btn btn-info" type="button">Opened</button></td>
									<td>02-25-2016 06:26:16 pm</td>
									<td>Confirm Your Upcomi...</td>
									<td>test@test.com</td>
									<td>test2@test.com</td>
									<td>Confirmation SMTP</td>
									<td class="text-right"><button class="btn btn-warning" type="button">detail</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div><!-- end content-->
			</div><!--  end card  -->
		</div>
	</div>
{% endblock %}
{% block div %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

 <script>
   // chart pc
     new Chart(document.getElementById("doughnut-chart"), {
     type: 'doughnut',
     data: {
       labels: ["Desktop", "others"],
       datasets: [
         {
           label: "Population (millions)",
           backgroundColor: ["#0AB0BF", "#8e5ea2"],
           data: [{{Analyse_obj.Desktop_open}}, {{Analyse_obj.SumAllDevices}}- {{Analyse_obj.Desktop_open}}]
         }
       ]
     },
     options: {
       title: {
         display: true,
         text: 'Nombre Open with pc for all Contacts'
       }
     }
   });
     //chart Tablet
     new Chart(document.getElementById("doughnut-chart-clic"), {
     type: 'doughnut',
     data: {
       labels: ["tablet", "others"],
       datasets: [
         {
           label: "Population (millions)",
           backgroundColor: ["#148F77", "#8e5ea2"],
           data: [{{Analyse_obj.tablet_open}}, {{Analyse_obj.SumAllDevices}} - {{Analyse_obj.tablet_open}}]
         }
       ]
     },
     options: {
       title: {
         display: true,
         text: 'Predicted world population (millions) in 2050'
       }
     }
   });
     //chart Telephone
     new Chart(document.getElementById("doughnut-chart-open"), {
     type: 'doughnut',
     data: {
       labels: ["phone", "others"],
       datasets: [
         {
           label: "Population (millions)",
           backgroundColor: ["#F4D03F", "#8e5ea2"],
           data: [{{Analyse_obj.tel_open}}, {{Analyse_obj.SumAllDevices}} - {{Analyse_obj.tel_open}}]
         }
       ]
     },
     options: {
       title: {
         display: true,
         text: 'Predicted world population (millions) in 2050'
       }

     }
   });
   // chart final
   new Chart(document.getElementById("line-chart"), {
 type: 'line',
 data: {
   labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
   datasets: [{
       data: [282,350,411,502,635,1205,3201,4523,5482,6584],
       label: "sent",
       borderColor: "#3e95cd",
       fill: false
     }, {
       data: [282,350,411,502,635,809,947,1402,3700,5267],
       label: "open",
       borderColor: "#8e5ea2",
       fill: false
     }, {
       data: [168,170,178,190,203,276,408,547,675,734],
       label: "clickers",
       borderColor: "#3cba9f",
       fill: false
     }, {
       data: [40,20,10,16,24,38,74,167,508,784],
       label: "Bounces",
       borderColor: "#e8c3b9",
       fill: false
     }, {
       data: [6,3,2,2,7,26,82,172,312,433],
       label: "unsubscribes",
       borderColor: "#c45850",
       fill: false
     }
   ]
 },
 options: {
   title: {
     display: true,
     text: 'World population per region (in millions)'
   }
 }
});
   // stat
     new Chart(document.getElementById("doughnut-chart-stat"), {
     type: 'doughnut',
     data: {
       labels: ["Desktop", "tablet", "phone"],
       datasets: [
         {
           label: "Population (millions)",
           backgroundColor: ["#0AB0BF", "#148F77", "#F4D03F"],
           data: [{{Analyse_obj.Desktop_open}}, {{Analyse_obj.tablet_open}}, {{Analyse_obj.tel_open}}]
         }
       ]
     },
     options: {
       title: {
         display: true,
         text: 'Predicted world population (millions) in 2050'
       }
     }
   });
 </script>
 <script>
   // navigation active
   const currentLocation = location.href;
   const menuItem = document.querySelectorAll('a.nav-link');
   const navItem = document.querySelectorAll('li.nav-item');
   for(let i = 0; i<navItem.length; i++){
     if(menuItem[i].href == currentLocation){
       navItem[i].className = "active"      }
   }
 </script>
{% endblock %}
