{% extends 'dashbord_elements/base.html' %}
{% load static %}
{% block body %}
<div class="row">
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-info card-header-icon">
					<div class="card-icon">
						<i class="material-icons">archive</i>
					</div>
					<p class="card-category">All companes Created</p>
					<h3 class="card-title" id="compNumber">{{compNumber}}</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">local_offer</i> Number of virtual Compane
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-rose card-header-icon">
					<div class="card-icon">
						<i class="material-icons">equalizer</i>
					</div>
					<p class="card-category">Clic</p>
					<h3 class="card-title" id="compClics">{{clics}}</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">local_offer</i> Clic for last compane created
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-success card-header-icon">
					<div class="card-icon">
						<i class="material-icons">equalizer</i>
					</div>
					<p class="card-category">Open</p>
					<h3 class="card-title" id="compOpens">{{opens}}</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">date_range</i> Open for last compane created
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header  card-header-icon">
					<div class="card-icon" style="background : #48C9B0  ">
						<i class="material-icons">mark_email_read</i>
					</div>
					<p class="card-category">Recieved</p>
					<h3 class="card-title" id="compRecieved">{{recieved}}</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">update</i> Recieved for last compane created
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 ml-auto mr-auto">
			<div class="page-categories">
				<ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#link7" role="tablist"><i class="material-icons">queue</i> companie mailing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#link8" role="tablist"><i aria-hidden="true" class="fa fa-history"></i> Predictive Companes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#link9" role="tablist"><i class="material-icons">insert_chart</i> analysis Per date</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#link10" role="tablist"><i class="material-icons">pie_chart</i> global analysis</a>
					</li>
				</ul>
				<div class="tab-content tab-space tab-subcategories">
					<div class="tab-pane" id="link7">
						<form id="recommandationForm">
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header card-header-rose card-header-icon">
										<div class="card-icon">
											<i class="material-icons">mail_outline</i>
										</div>
										<h4 class="card-title">Recomondation Form</h4>
									</div>
									<div class="card-body">
											<div class="form-group">
												<label class="bmd-label-floating" for="exampleEmail">Compane Name</label> <input class="form-control" id="compName" type="text">
											</div>
											<div class="form-group">
												<label class="bmd-label-floating" for="examplePass">Number Mail Send</label> <input class="form-control" id="compSent" type="number">
											</div>

										<div class="togglebutton">
				              <label><input  type="checkbox" id="saveResultToogle"> <span class="toggle"></span> <span><strong>Save The Result (<span class="statusSaveResultTogle" style="color : red">OFF</span>)</strong></span></label>
				            </div>
									</div>
									<div class="card-footer">
										<button class="btn btn-fill btn-round btn-rose" type="button" id="btn-addComp">Submit</button>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header card-header-text">
										<div class="card-icon" style="background: #2E86C1">
											<i class="material-icons">today</i>
										</div>
										<h4 class="card-title">Data Send</h4>
									</div>
									<div class="card-body">
										<div class="form-group">
											<input class="form-control datetimepicker" type="date" id="compDate" >
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header card-header-text">
										<div class="card-icon" style="background: #17A589">
											<i class="material-icons">today</i>
										</div>
										<h4 class="card-title">Time Send</h4>
									</div>
									<div class="card-body">
										<div class="form-group">
											<input class="form-control datetimepicker" type="time" id="compHour" step="3600000" >
										</div>
									</div>
								</div>
							</div>
							</form>
						</div>
					</div>
					<div class="tab-pane active allCompListe" id="link8">
							{% include "ajax_template_dashbord/listCompagnes.html" %}
					</div>
					<div class="tab-pane" id="link9">
						<div class="row">
							<div class="col-md-8" style="margin : 0 auto">
								<div class="card">
									<div class="card-header card-header-icon card-header">
										<div class="card-icon" style="background : #1B4F72">
											<i class="material-icons">bar_chart</i>
										</div>
										<h4 class="card-title">Stats For Each devices</h4>
									</div>
									<div class="card-body" id="mobile_container">
										<canvas height="450" id="statPerDate" width="800"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="link10">
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header card-header-icon card-header">
										<div class="card-icon" style="background : #1B4F72">
											<i class="material-icons">bar_chart</i>
										</div>
										<h4 class="card-title">Stats For Each devices</h4>
									</div>
									<div class="card-body" id="mobile_container">
										<canvas height="450" id="open_clic_devices1" width="800"></canvas>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header card-header-icon card-header">
										<div class="card-icon" style="background : #1B4F72">
											<i class="material-icons">bar_chart</i>
										</div>
										<h4 class="card-title">recieved Open Click Per Date </h4>
									</div>
									<div class="card-body" id="mobile_container">
										<canvas height="450" id="open_clic_devices2" width="800"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- modal   -->
	<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="rasultRecommondation" role="dialog" tabindex="-1" >
		<div class="modal-dialog modal-notice" >
			<div class="modal-content" style="width : 180%; margin-left : -25%" >
				<div class="modal-header">
					<h3 class="modal-title" id="titleCompPredict"><strong></strong> </h3><button aria-hidden="true" class="close" data-dismiss="modal" type="button"><i class="material-icons">close</i></button>
				</div>
				<div class="modal-body">
					<center>
						<img src="https://rocketchat.key-performance-group.com/file-upload/kzzv4KLGpj5WpnGcM/Animation--1.gif" id="loaderGif"  width="25%" height="40%"  alt="">
					</center>
					<div class="row" id="compAnalyseGlobal" style="display : none">
					  <div class="col-md-6">
					    <div class="card">
					      <div class="card-header card-header-icon card-header-rose">
					        <div class="card-icon">
					          <i class="material-icons">bar_chart</i>
					        </div>
					        <h4 class="card-title">Sent Recieved Inqueue of All Companes</h4>
					      </div>
					      <div class="card-body" id="mobile_container">
					        <canvas height="450" id="compGlobalStat" width="800"></canvas>
					      </div>
					    </div>
					  </div>
					  <div class="col-md-6">
					    <div class="card">
					      <div class="card-header card-header-icon card-header-warning">
					        <div class="card-icon">
					          <i class="material-icons">bar_chart</i>
					        </div>
					        <h4 class="card-title">Stats Open / clic Per compane></h4>
					      </div>
					      <div class="card-body" id="mobile_container">
					        <canvas height="450"  id="compGlobalStatDevices" width="800"></canvas>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
				<div class="modal-footer justify-content-center">
					<button class="btn btn-info btn-round" data-dismiss="modal" type="button">close!</button>
				</div>
			</div>
		</div>
	</div><!-- end notice modal -->
	<!-- Modal delete -->
<div class="modal fade modal-delete_comp">
	<div class="modal-dialog">
		<div class="modal-content">
		</div>
	</div>
</div>
{% endblock%}
{% block div %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="{% static 'assets/js/charts.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/js/ajax/recommandation.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
		//Save Result Toggle
		$("#saveResultToogle").click(function(){
        if($("#saveResultToogle").prop("checked")){
          $('.statusSaveResultTogle').html("ON");
          $('.statusSaveResultTogle').css('color' , 'green');
        }else{
          $('.statusSaveResultTogle').html("OFF");
          $('.statusSaveResultTogle').css('color' , 'red');
        }
    });
		labels = []
		{% for label in labels %}
			labels.push("{{label}}");
		{% endfor %}
		console.log(labels);
    chart_sent_recieved_inqueue_global = loadChart([{{sent}}, {{recieved}}, {{in_queue}}], ["#52BE80", "#5499C7", "#D98880"], ["sent", "recieved", "Inqueue"], "open_clic_devices1","Sent Recieved Inqueue Predictive","horizontalBar", false);
    chart_clic_open_global = loadChart([{{recieved}}, {{opens}}, {{clics}}], ["#5499C7", "#138D75", "#8E44AD"], ["recieved", "opens", "clicks"], "open_clic_devices2","Sent Recieved Inqueue Predictive","bar", false);
		chart_sent_recieved_inqueue = loadChart([0, 0, 0 ], ["#52BE80", "#154360", "#3498DB"], ["sent", "recieved", "Inqueue"], "compGlobalStat","Sent Recieved Inqueue Predictive","horizontalBar", false);
		chart_clic_open= loadChart([0, 0, 0 ], ["#52BE80", "#154360", "#3498DB "], ["recieved", "open", "clic"], "compGlobalStatDevices","Sent Recieved Inqueue Predictive","bar", false);
		analysePerDateChart = loadAnalysePerTimeChart(labels,{{clicsList}}, {{opensList}}, {{recievedList}}, "statPerDate", "Stats Of All Virtual Comapanes");
	</script>
{% endblock %}
